* {
    font-family: 'Lora', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Serif', serif;
}

#read-display {
    font-size: 1.25rem;
    text-align: center;
}

#book-count {
    margin-right: 5vw;
}